
<div class="row">
  <h1>Welcome to Executive Quotes</h1>
  <div class="col-md-4" *ngFor='let quote of quotes; let i = index'>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../assets/images/Quoteimage.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{quote.quoteType}}</h5>
            <p>{{quote.description}}</p>
            <p>
              {{quote.author}}
            </p>
             <a (click)='toggleDetails(i)'>See More</a>
             <app-quotes-detail [quote]='quote' (quoteUpvoteEvent)="Upvote($event,i)"*ngIf='quote.showDescription'(quoteDeleteEvent)='quotesDelete($event,i)'></app-quotes-detail>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6 ">
    <app-quote-form (addQuotesEvent)="addnewQuote($event)"></app-quote-form>
  </div>
</div>
