<div class="container-fluid">
  <h2 class="text-center">Create A Quote</h2>
  <hr>
  <form #goalForm='ngForm'>
      <div class="form-group">

          <label for="name">Quote Type</label>
          <input type="text" class="form-control" id="quote" [(ngModel)]="newQuotes.name" name="name" #name='ngModel' required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Quote Type is Required!</p>
          </div>
      </div>
      <div class="form-group">

        <label for="name">Author</label>
        <input type="text" class="form-control" id="quote" [(ngModel)]="newQuotes.author" name="author" #name='ngModel' required>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p>Author is Required!</p>
        </div>
    </div>
    <div class="form-group">

      <label for="quoteCreator">Quote Creator</label>
      <input type="text" class="form-control" id="quote" [(ngModel)]="newQuotes.quoteCreator" name="quoteCreator" #name='ngModel' required>
      <div [hidden]="quoteCreator.valid || quoteCreator.pristine" class="alert alert-danger">
        <p>Quote Creator is Required!</p>
      </div>
  </div>
      <div class="form-group">

          <label for="description">Quote Description</label>
          <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuotes.description" name="description" #description="ngModel" required></textarea>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <p>Quote Description is Required!</p>
          </div>
      </div>
      <div class="form-group">

          <label for="complete">Date Added</label>
          <input type='date' id="created" [(ngModel)]="newQuotes.createdDate" name="createdDate" #completeDate="ngModel" required>
          <div [hidden]="createdDate.valid || createdDate.pristine" class="alert alert-danger">
            <p>Date is required</p>
          </div>
      </div>
      <button type="submit" class="btn btn-success">Add Your Quote</button>
  </form>
</div>
